swagger: "2.0"
info:
  version: 1.0.0
  title: Oikos API
  license:
    name: None
host: oikos.io
basePath: /api/v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  '/properties':
    get:
      summary: List all properties
      operationId: listProperties
      tags:
        - properties
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          type: integer
          format: int32
          example: 20
        - name: offset
          in: query
          description: How many items to skip in results
          type: integer
          format: int32
          example: 0
        - name: sort
          in: query
          description: Sort results on this field. 
          type: string
      responses:
        '200':
          description: Success
          schema:
              $ref: '#/definitions/Properties'
    # post:
    #     summary: Create a property
    #     operationId: createProperty



  /pets:
    get:
      summary: List all pets
      operationId: listPets
      tags:
        - pets
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: A paged array of pets
          headers:
            x-next:
              type: string
              description: A link to the next page of responses
          schema:
            $ref: '#/definitions/Pets'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a pet
      operationId: createPets
      tags:
        - pets
      responses:
        "201":
          description: Null response
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /pets/{petId}:
    get:
      summary: Info for a specific pet
      operationId: showPetById
      tags:
        - pets
      parameters:
        - name: petId
          in: path
          required: true
          description: The id of the pet to retrieve
          type: string
      responses:
        "200":
          description: Expected response to a valid request
          schema:
            $ref: '#/definitions/Pets'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Property:
    properties:
      moniker:
        type: integer
        format: property:id
        example: property:1
        description: Moniker
      name:
        type: string
        format: varchar128
        example: Karma Bed and Breakfast
  Properties:
    type: array
    items:
      $ref: '#/definitions/Property'
  Pet:
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      tag:
        type: string
  Pets:
    type: array
    items:
      $ref: '#/definitions/Pet'
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string